<div class="container">
  <h1>Stupid Coaching</h1>

  <div class="user">
    <h2> <%= @user_answer %> </h2>
    <p> -You </p>
  </div>

  <div class="coach">
    <h2> <%= @coach_answer %> </h2>
    <p> -Coach </p>
  </div>

  <div class="return">
    <p class="link"><%= link_to "Ask a new question", ask_path %></p>
  </div>
</div>


