<div class="container">
  <h1>Stupid Coaching</h1>
  <h5>Ask your coach anything:</h5>

  <form id="bar" action="/answer">
    <input id="question" type="text" name="question" value="Type in your question here!">
    <input id="button" type="submit" value="Ask!">
  </form>
</div>
